
.a-txtLnk { 
    --txtLnk__border-height: 2px;
}
.a-txtLnk {
    color: var(--color);
    outline: none;
    text-decoration: none;
    position: relative;

    &::before {
        background-color: var(--emphasis-1);
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: var(--txtLnk__border-height);
        transform: scale(0);
        transition: transform $transition-duration $transition-timing-function;
    }

    &:hover::before {
        transform: scale(1);
    }
 }
