// colors
$void: #0E0B16;
$fuschia: #A239CA;
$jewel: #4717F6;
$stark: #E7DFDD;
// $void: #A9B7C0;
// $fuschia: #C7D8C6;
// $jewel: #EFD9C1;
// $stark: #CCCBC6;

// computing base
$base-unit: 10px;

// fonts
$font-family: 'Open Sans', 'Roboto', '-apple-system', sans-serif;

$font-sizes: (
    'caption' : (mobile: 1.2rem, desktop: 1.2rem),
    'text' : (mobile: 1.4rem, desktop: 1.4rem),
    'h3' : (mobile: 1.4rem, desktop: 1.6rem),
    'h2' : (mobile: 1.8rem, desktop: 2.2rem),
    'h1' : (mobile: 2.2rem, desktop: 2.8rem),
);
$line-height-increment: 0.6rem;

/* 
    Spacings:
    Only use these variables for paddings & margins
*/
$spacing-m: 0.8rem;
$spacing-xs: $spacing-m / 4;
$spacing-s: $spacing-m / 2;
$spacing-l: 2 * $spacing-m;
$spacing-xl: 4 * $spacing-m;
$spacing-xxl: 8 * $spacing-m;

/*
    Animations
*/
$transition-duration: 300ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

/*
    General Pagesettings
*/
$page-max-widht: 160rem;

%content-positioning {
    max-width: $page-max-widht;
    margin: 0 auto;
    padding: $spacing-m $spacing-l
}

%down-shadow {
    box-shadow:0 0 8px rgba($void, 0.6);
}
