.pageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: 
    'header'    'header'    'header'
    '.'         'body'      '.'
    'footer'    'footer'    'footer';

    &__header {
        grid-area: header;
    }

    &__body {
        grid-area: body;
    }

    &__footer {
        grid-area: footer;
    }
}
