$footer-height: 200px;
.o-footer {
    background-color: transparent;
    
    height: $footer-height;
    min-height: $footer-height;

    &__footer {
        background-color: var(--color);
        color: var(--bg-color);

        height: $footer-height;
        min-height: $footer-height;
        min-width: 100vw;
        width: 100vw;
        
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &__content {
        @extend %content-positioning;
    }
}
