
.theme {
    &.-inverted {
        --color: $bg-color;
        --bg-color: $color;
        --emphasis-1: $emphasis-2;
        --emphasis-2: $emphasis-1;
    }
}

.theme {
    color: var(--color);
    background-color: var(--bg-color);
    transition-duration: $transition-duration;
    transition-property: background-color, color;
    transition-timing-function: $transition-timing-function; 
}
