
.theme {
    --color: $stark;
    --bg-color: $void;
    &.-inverted {
        --color: $void;
        --bg-color: $stark;
    }
}

.theme {
    color: var(--color);
    background-color: var(--bg-color);
    transition-duration: $transition-duration;
    transition-property: background-color, color;
    transition-timing-function: $transition-timing-function; 
}
